body {
    background: #7fffa1
}

div {
    transition: margin-right, 1s;
    border: 2px solid rgb(252, 255, 154);
}

div:hover {
    margin-left: 400px;
    background: #ffffff
}

p {
    margin-left: 20px
}